{% extends "base.html.twig" %}

{% block body %}

   <h1>Bienvenue !</h1>
   {# <h2>{{ website }} index</h2> #}
   <img src="{{ asset('build/images/L_empereur_de_Paris.jpg') }}" alt=""/>

{% endblock %}